<div id="friends-feed">
  <div id="friend-requests">
    <div class="heading">
      <h2>Friend Requests</h2>
    </div>
    <% @user.friend_requests_as_receiver.each do |request| %>
      <div class="request">
        <%= request.requestor.first_name %>
        <%= request.requestor.last_name %>
        <%= render 'friendships/accept_request_form', friendship: @friendship, request: request%>
      </div>
    <% end %>
  </div>
  <div id="friends">
    <div class="heading">
      <h2>Friends</h2>
    </div>
    <% @user_friends.each do |friend| %>
      <div class="friend">
        <%= friend.first_name %>
        <%= friend.last_name %>
      </div>
    <% end %>
  </div>
  <div id="not-friends">
    <div class="heading">
      <h2>Other Users</h2>
    </div>
    <% @user_not_friends.each do |friend| %>
      <div class="friend">
        <%= friend.first_name %>
        <%= friend.last_name %>
        <% if @pending_requests_receiver_ids.include?(friend.id) %>
          <span id="request-sent">(request sent)</span>
        <% else %>
          <%= render 'friend_requests/send_request_form', request: @friend_request, friend: friend %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
