<div id="heading">
  <h1>Timeline</h1>
</div>

<div id="new-post">
  <%= link_to "What's on your mind?", new_post_path %>
</div>

<div id="feed">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-header">  
        <span class="post-header-name">
          <%= post.author.first_name%> <%= post.author.last_name%>
        </span>
      </div>
      <div class="post-content">
        <%= post.body%>
      </div>
      <div class="post-likes">
        <%= "#{post.like_count} Likes"%>
      </div>
      <div class="like-post">
        <%= render 'like_form', user_id: current_user.id, post: post%>
      </div>
      <div class="post-comments">
        <div class="new-comment">
          <%= form_with(url: comments_path, method: :post) do |form|%>
            <%= form.text_area :body, style: "width:100%", placeholder: "Write a comment..."%>
            <%= form.hidden_field :post_id, value: post.id %>
            <%= form.hidden_field :author_id, value: current_user.id %>
            <%= form.submit "Comment"%>
          <% end %>
        </div>
        <div class="existing-comments">
          <% post.comments.each do |comment|%>
            <div class="comment">
              <div class="comment-head">
                <%=comment.author.first_name%>
                <%=comment.author.last_name%>
              </div>
              <div class="comment-body">
                <%=comment.body%>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>


